.consent-checkbox {
    display: flex;
    flex-direction: row-reverse;
    /* border: 2px solid red; */
    margin-bottom: 1em;
    align-items: center;
}
.consent-checkbox input {
    margin-right: .75em;
}

.input {
    outline: none;
    padding: 1em .5em;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.input-block {
    width: 100%;
}

.label {
    display: block;
    margin-bottom: .5em;
}

@media only screen and (min-width: 980px) {
    .consent-checkbox input {
        margin-right: .95em;
    }
    .consent-checkbox label {
        font-size: .85em !important;
    }
}