

.results-form-page {
    overflow: hidden;
    padding-bottom: 3em;
}
.banner > img{
    width: 100%;
    
}
.results-form-text {
    margin-bottom: 2em;
}
.results-form-text > p {
    line-height: 1.5;
}

.result-form-element {
    margin-left: 1em;
    /* border: 2px solid red; */

}
.result-form-element > form input {
    margin-bottom: 1.5em;
    width: 80%;
}

.result-form-element > form button {
    margin-top: 1.5em;
    margin-left: 2.5em;
    
}