
.btn {
    cursor: pointer;
    padding: .5em 1em;
    border: none;
}

.btn-primary-rounded {
    color: var(--dark-text);
    font-size: 1.5em;
    background-color: var(--accent-color);
    border-radius: 4.375em;
    padding: .75em 4em;
    width: fit-content;
    transition: all 500ms;
}

.btn-primary-rounded:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

.btn-primary-outline {
    color: var(--dark-text);
    font-size: 1em;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 4.375em;
    padding: .75em 4em;
    width: auto;
    transition: all 500ms;   
}

.btn-primary-outline:hover {
    background-color: var(--accent-color);
}
.btn-small-light {
    padding: .75em 2em;
    border-radius: .5em;
    border: 1px solid var(--dark-text);
    font-size: 1.5em;
    color: var(--dark-text);
    background-color: var(--main-light);
    box-shadow: 9px 7px 15px 0px rgba(0, 0, 0, .25);
    transition: all 500ms;   

}
.btn-small-light:hover {
    background-color: var(--accent-color);
}

.btn-small-dark {
    padding: .75em 2em;
    border-radius: .5em;
    font-size: 1.5em;
    color: var(--light-text);
    background-color: var(--main-color);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .25);
    transition: all 500ms;   


}

.btn-small-dark:hover {
    background-color: var(--accent-color);
    color: var(--dark-text);
}

.btn-selected {
    background-color: var(--accent-color);
    color: var(--dark-text);
}
