.about {
    
}
.about--btn_choices {
    display: grid;  
    gap: 2em;
}

.about--btn_bool {
    justify-content: center;

}
.about--btn_bool > * {
    width: 30%;
    padding: .5em 0;
    font-size: 1.5em;
}


@media only screen and (min-width: 760px) {
    .about--btn_choices {
        width: 80%;
        margin: 0 auto;
    }
    .about--btn_choices > button {
        padding: .85em 0;
    }
    .about--btn_bool > * {
        width: 20%;
        padding: .75em 0;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 980px) {
    .about {
        padding-top: 1.5em;
    }
    .about--btn_choices {
        width: 50%;
        margin-top: 2em;
    }
    .about--btn_choices button {
        font-size: 1.25rem;
        padding: 1em 2em
    }

    .about--btn_bool {
        column-gap: 2.5em;
    }
    .about--btn_bool > * {
        width: 15%;
        padding: .85em 0;
    }
}