
.hearing-test-page {
    padding-top: 2em;
    padding-bottom: 4em;
    
}
.test {
    background-color: var(--light-background-200);
    padding-top: 1em;
    height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
}


.test > :first-child > p{
    margin-top: 1em;
}

.test > * + * {
    margin-top: 2.5em;
}

.instruction-mobile p{
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1em;

}

.instruction-desktop {
    display: none;
}

.emphasis {
    text-decoration: underline;
}

.emphasis-accented {
    background-color: var(--accent-color);
    height: 3px;
    border-radius: 20px;
    width: 30%;
    position: absolute;
    left: 60%;
}

.test-instruction-test > p {
    line-height: 2;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.test-direction {
    justify-content: space-between;
    margin-top: 3.5em;
}

@media only screen and (min-width: 760px) {
    .hearing-test-page {
        display: grid;
        align-items: center;
        height: 100vh;
    }
    .test {
        padding-top: 3em;
        box-shadow: 6px 10px 25px 0px rgba(0, 0, 0, 0.3);
        height: 80vh;
    }

    .instruction-desktop {
        display: block;
    }

    .instruction-desktop p {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .instruction-mobile {
        display: none;
    }

    .emphasis-accented {
        width: 15%;
        left: 55%;
    }
    .sound-panel {
        display: none;
    }
    .test-instruction-test {
        max-width: 80%;
        margin: 2em auto;
    }

    .test-direction {
        max-width: 80%;
        margin: 0 auto;
    }

    .test-direction button {
        padding: .75em 2.5em;
    }
}