
.hearing-test-page {
    padding-top: 1.5em;
    padding-bottom: 4em;
    
}

.curr-frequency {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}
.test {
    background-color: var(--light-background-200);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}


.test > :first-child > p{
    margin-top: 1em;
}

.test > * + * {
    margin-top: 2.5em;
}

.instruction-mobile p{
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1em;

}

.instruction-desktop {
    display: none;
}

.sound-panel-desktop {
    display: none;
}

.emphasis {
    text-decoration: underline;
}

.emphasis-text-accented {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
}

.emphasis-text-main-color {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 2px;
}

.test-instruction-test > p {
    line-height: 2;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.test-direction {
    justify-content: space-between;
    margin-top: 3.5em;
}

.start-arrow {
    display: none;
}

@media only screen and (max-width: 360px) {
    .emphasis-accented {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
    .hearing-test-page {
        display: grid;
        align-items: center;
    }
    .test {
        padding-top: 3em;
        padding-bottom: 3em;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
        border-radius: 15px;

    }

    .instruction-desktop {
        display: block;
    }

    .instruction-desktop p {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .instruction-mobile {
        display: none;
    }

    .sound-panel {
        display: none;
    }

    .start-arrow {
        display: grid;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: relative;
        top: -5%;
        left: 6%;
    }

    .toggle-arrow {
        visibility: hidden;
    }

    .arrow {
        position: absolute;
        top: 0;
        left: 0;
    }
    .start-text {
        position: absolute;
        top: 200%;
        left: -10%;
    }
    
    .sound-panel-desktop {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5em;
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 4em;
        column-gap: 2em;
    }
    .sound-panel-desktop > * {
        align-self: baseline;
    }
    .test-instruction-test {
        max-width: 80%;
        margin: 2em auto;
    }

    .test-direction {
        max-width: 80%;
        margin: 0 auto;
    }

    .test-direction button {
        padding: .75em 2.5em;
    }
}

@media only screen and (min-width: 980px) {
    .hearing-test-page {
        align-items: normal;
        padding-bottom: 3em;
    }
    .test {
        padding-top: 1.5em;
    }

    .instruction-desktop {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }
    .instruction-desktop > p {
        line-height: 1.5;
    }
    .sound-panel-desktop {
        column-gap: 1em;
        row-gap: 0;
        grid-template-columns: repeat(10, 1fr);
        margin-top: 0;
        margin-bottom: 4em;
    }

    .start-arrow {
        top: -10%;
    }

    .start-text {
        position: absolute;
        top: 220%;
        left: -30%; 
    }
    .sound-panel-desktop > * {
        align-self: baseline;
    }
}