

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.loading-wrapper {
    display: grid;
    align-items: center;
}

.loading-wrapper > small {
    text-align: center;
    color: var(--light-background-400);
    
}

.preloader {
    justify-self: center;
    margin-bottom: 1em;
}