.gauge-chart-img {
    display: grid;
    justify-content: center;
    margin-block: .65em;
}
.cap-text {
    line-height: 1.9 !important;
}

.hearing-capability {
    padding-block: 2em;
}
@media only screen and (min-width: 760px) {
    .gauge-chart-img {
        margin-block: 1em;
    }
    .gauge-chart-img > img{
        
        width: 300px;
    }

    .cap-text {
        line-height: 2.5 !important;
    }
}

@media only screen and (min-width: 980px) {
    .hearing-capability-wrapper {
        display: flex;
        justify-content: space-around;
        column-gap: 4em;
    }
    .gauge-chart-img > img{
        
        width: 350px;
    }
}