
.prep-instructions {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-inline: .25em;
    
}

.prep-instructions h1 {
    font-size: 1.6rem;
}

.prep-instructions h2 {
    font-size: 1.25rem;
}

.prep-instructions > * + * {
    margin-top: .65em ;

}

.text-btn-display {
    padding: .25em 1em;
    background-color: var(--accent-color);
    color: var(--main-color);
    border-radius: 25px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--font-family-headlines);
}

.caution {
    width: 98%;
    margin-inline: auto;

}


.prep-img {
    padding-top: 1em;
    padding-bottom: 1em;
}

.ear-img-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.ear-img {
    width: 40%;
}

.prep-listening-cta {
    margin-top: 1em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2.5em;
}

.prep-listening-cta > :first-child {
    width: 70%;
    justify-self: center;
}
.prep-listening-cta > :last-child {
    width: 30%;
    justify-self: center;

}

@media only screen and (min-width: 760px) {
    .test-prep-wrapper {
       height: 100%;
    }   

    .prep-instructions {
        padding-bottom: 2.5em;
    }
    .caution {
        width: 80%;
    }
    .ear-img-wrapper {
        margin-top: 3.5em;
        margin-bottom: 3.5em;
    }

    .ear-img {
        width: 40%;
    }

    .prep-listening-cta > :first-child {
        width: 40% !important;
        padding-top: .75em;
        padding-bottom: .75em;
    }
}

@media only screen and (min-width: 980px) {
    .caution {
        margin-top: 6rem;
        width: 95%;
    }
    .caution p {
        margin-bottom: .64em;
    }
    .test-prep-wrapper {
        display: grid;
        grid-template-columns: 55% 45%;
    

    }

    .prep-instructions {
        padding-top: 4em;
    }

    .prep-instructions h1 {
        margin-bottom: 2em;
        font-size: 1.8rem;
    }
    
    .prep-instructions h2 {
        font-size: 1.5rem;
        width: 100%;
        margin-bottom: 2em;
    }
    .prep-img {
        padding-top: 4em;

    }
    .ear-img {
        width: 40%;
    }

    .prep-listening-cta > :first-child {
        padding: 0em;
        width: 30%;
        height: 55px;
    }
    .prep-listening-cta > :last-child {
        padding: 0em;
        width: 15%;
        height: 50px;
    }
}
