
.quiet-instructions {
   padding-top: 1.5em;
   padding-bottom: 1em;
   padding-inline: .5em;
}

.quiet-instructions h1 {
    margin-bottom: 1em;
    font-size: 1.6rem;
}


.quiet-instructions h2 {
    font-size: 1.25rem;
}


.quiet-img-wrapper {
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    display: grid;
    row-gap: 1em;
    justify-content: center;
}

.quiet-cta-desktop {
    display: none;
}

@media only screen and (min-width: 760px) {

    .quiet-instructions h2 {
        width: 80%;
        margin-inline: auto;
    }
}

@media only screen and (min-width: 980px) {

    .quiet-test-wrapper {
        display: grid;
        grid-template-columns: 40% 60%;
        height: 100%;
    }

    .quiet-img-wrapper {
        display: block;
    }

    .quiet-img-wrapper > :first-child {
        width: 60%;
        margin-inline: auto;
        margin-top: 5em;
    }

    .quiet-cta-mobile {
        display: none;
    }

    .quiet-cta-desktop {
        display: block;
        margin-top: 2em;
    }

   
    .quiet-instructions {
        padding-left: .65em;
        padding-right: .65em;
        padding-top: 3.5em;
        padding-bottom: 4.5em;
    }

    .quiet-instructions h1 {
        margin-bottom: 2em;
        font-size: 1.8rem;
    }
    
    
    .quiet-instructions h2 {
        font-size: 1.5rem;
        width: 100%;
    }
    
    .quiet-cta button {
        font-size: 1.5rem;
        padding: .65em 2em;
        border: 2px solid var(--accent-color);
    }

    .quiet-test-wrapper h1 {
        line-height: 1.2;
    }
    .quiet-test-wrapper h2 {
        line-height: 1.5;
    }

}
