
.volume-control {
    justify-content: center;
    align-items: center;
}

.volume-control button {
    padding-top: .75em;
    padding-bottom: .75em;

}
.vol > p{
    font-size: 3rem;
    text-align: center;
}

