.server-error {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.error-card {
    width: 90%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 2em .5em;
}

.err-msg {
    font-weight: bold;
    padding-left: .5em;
}

.status-code {
    font-size: 2em
}
.status-error {
    color: red;
}