
.test-wrapper {
    background-color: var(--light-background-200);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px; 
    margin-top: 1em;
}

.test-instruction {
    background-color: var(--main-color);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media only screen and (min-width: 980px) {
    .test-wrapper {
        border-radius: 35px;
        height: 100%;
    }

    .test-image {
        height: 100%;
    }

    .test-instruction {
        border-top-left-radius: 35px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 35px;
        height: 100%;
    }
}



