
.test-wrapper {
    background-color: var(--light-background-200);
    box-shadow: 6px 10px 25px 0px rgba(0, 0, 0, 0.5);
    border-radius: 35px; 
}

.test-instruction {
    background-color: var(--main-color);
     text-align: center;
    padding-block: 2em;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.test-instruction > * + * {
    margin-top: 1.8em;
}

.test-image {
    width: 75%;
}


