.results-page {
    overflow: hidden;
}

.chart {
    /* height: 60vh; */
}

.chart-wrapper {
    height: 60vh;
    margin-bottom: 1em;
}

.results-page-headline {
    padding-top: 3.5em;
}

.results-page-headline > * {
    line-height: 1.9 !important;
    
}

.cap__text {
    line-height: 1.9 !important;
}

.user-hearing {
    margin-top: 2em;
}

.ad-section {
    background:linear-gradient( #3C3D3F, #97999b);
    margin-top: 2em;
}

.ad-section-wrapper {
    padding-block: 1em;
}
.ad-section-img-wrapper {
    width: 100%;
}

.ad-section-img-wrapper img {
    width: 100%;
}

.ad-section-wrapper p {
    line-height: 1.5 !important;
    margin-bottom: 1em;
}

.ad-section-wrapper > :last-child span {
    font-size: 1.3em;
}

.eara-explainer {
    padding-top: 2em;
}

.eara-explainer__image-wrapper {
    width: 100%;
    
    margin-top: 1em;
}

.eara-explainer__image-wrapper img {
    width: 100%;
}

.explainer-banner {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-block: .5em;
    padding-inline: .3em;
    width: 80%;
    margin-inline: auto;
}

.explainer__img__wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.explainer__img__wrapper img {
    width: 20%;
}



.eara-features {
    background-color: var(--accent-color);
    padding-block: 2.5em;
}

.eara-features__hearing-aid {
    width: 100%;
}

.eara-features__hearing-aid img {
    width: 100%;
}

.image_ic_wrapper {
    padding-block: 1em;
    width: 15%;
}
.image_ic_wrapper img {
    width: 100%;
}

.hearing-aid-feature {
    align-items: center;
}
.eara-features_cta {
    display: grid;
    justify-content: center;
    margin-top: 1em;
}

.audiologist-consultation {

    margin-top: 2em !important;
    margin-bottom: 2em !important;
    border-radius: 20px;
    background-color: var(--light-background-200);
    padding-block: 2em;
    padding-inline-start: .65em;
}


.consultation {
    display: grid;
    grid-template-columns: 12% 88%;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 1em;
}



.consultation-icon-wrapper {

    width: 100%;
}
.consultation-icon-wrapper img {
    width: 100%;
}


.consultation-img-wrapper {
    width: 100%;
} 
.consultation-img-wrapper img {
    width: 100%;
}

.eara-policy {
    padding-bottom: 2em;
}

.eara-policy p {
    line-height: 1.9 !important;
}

@media only screen and (min-width: 760px) {
    .results-page-headline {
        padding-top: 5em;
        

    }
    .cap__text {
        line-height: 2.5 !important;
    }
   .ad-section-wrapper {
        padding-block: 3em;
   }
   .ad-section-img-wrapper {
        width: 60%;
        margin-inline: auto;
    }

   .ad-section-wrapper p {
        font-size: 1.2em !important;
        text-align: center;
   }

   .eara-features__hearing-aid {
        width: 60%;
        margin-inline: auto;
   }

   .image_ic_wrapper {
        width: 7%;
   }
   .hearing-aid-feature p {
        font-size: 1.2em !important;
   }

   .audiologist-consultation {
        padding-inline: 2em;
   }

   .consultation-img-wrapper {
    width: 60%;
    margin-inline: auto;
   }

   .consultation {
        column-gap: .5em;
   }

   .consultation-icon-wrapper {
        width: 50%;
   }
   .consultation p {
        font-size: 1.2em !important;
   }

   .eara-policy p {
        font-size: 1.2em !important;
   }
}



@media only screen and (min-width: 980px) {
    .results-page {
        margin-bottom: 5em;
    }

    .user-hearing {
        margin-top: 5em;
    }
    

    .chart-wrapper {
        width: 60%;
        margin-inline: auto;
        height: 70vh;
    }
    .ad-section-img-wrapper {
        width: 30%;
        margin-inline: auto;
    }

    .eara-explainer > :first-child {
        margin-block: 2em;
    }

    .eara-explainer__image-wrapper {
        height: 60vh;
    }

    .eara-explainer__image-wrapper img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .eara-features-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2em;
    }
    .eara-features__hearing-aid {
        width: 60%;
    }
    .audiologist-consultation {
        margin-top: 4em !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center
    }

    .consultation {
        margin-bottom: 2em;
    }
    .consultation p {
        font-size: 1.3em !important;
    }

    .consultation-img-wrapper {
        width: 70%;
    }

    .eara-policy {
        background-color: var(--main-color);
        padding-inline: 2em;
        padding-block: 2em;
        border-radius: 5px;
        margin-bottom: 4em;
    }

    .eara-policy p {
        line-height: 2 !important;
        text-align: center;
        color: var(--main-light);

   }



}