.results-page {
    overflow: hidden;
}

.chart {
    /* height: 60vh; */
}

.chart-wrapper {
    height: 60vh;
    margin-bottom: 1em;
}

.results-page-headline > * {
    line-height: 1.5 !important;
    
}

.capability {
    margin-bottom: 1em
}

.capability > h1 {
    margin-bottom: .5em;
}

.cap__text {
    line-height: 1.5 !important;
}

.ad-section {
    background:linear-gradient(90deg, #3C3D3F, #515254,#424344);
}

.ad-section-wrapper {
    padding-block: 1em;
}

.ad-section-wrapper p {
    line-height: 1.5 !important;
}

.ad-section-wrapper > :last-child span {
    font-size: 1.3em;
}

.banner-ad {
    width: 100%;
    height: 30vh;
    background-image: url('../../assets/ad-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.eara-explainer {
    padding-top: 2em;
}

.eara-explainer__image-wrapper {
    width: 100%;
    height: 40vh;
    position: relative;
    background-image: url('../../assets/happy-user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;
}

.explainer-banner {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-block: .5em;
    padding-inline: .3em;
    width: 80%;
    margin-inline: auto;
}

.explainer__img__wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.explainer__img__wrapper img {
    width: 20%;
}



.eara-features {
    background-color: var(--accent-color);
    padding-block: 2.5em;
}

.eara-features__hearing-aid {
    width: 100%;
}

.eara-features__hearing-aid img {
    width: 100%;
}

.image_ic_wrapper {
    padding-block: 1em;
    width: 15%;
}
.image_ic_wrapper img {
    width: 100%;
}

.hearing-aid-feature {
    align-items: center;
}
.eara-features_cta {
    display: grid;
    justify-content: center;
    margin-top: 1em;
}

.audiologist-consultation {

    margin-top: 2em !important;
    margin-bottom: 2em !important;
    border-radius: 20px;
    background-color: var(--light-background-200);
    padding-block: 2em;
    padding-inline-start: .65em;
}


.consultation {
    display: grid;
    grid-template-columns: 12% 88%;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 1em;
}

.consultation-icon-wrapper {

    width: 100%;
}
.consultation-icon-wrapper img {
    width: 100%;
}


.consultation-img-wrapper {
    width: 100%;
} 
.consultation-img-wrapper img {
    width: 100%;
}

@media only screen and (min-width: 760px) {
    .results-page-headline {
        padding-top: 5em;
        
    }
   .ad-section-wrapper {
        padding-block: 3em;
   }

   .banner-ad {
        background-size: cover;
   }

   .ad-section-wrapper p {
        font-size: 1.2em !important;
   }

   .eara-explainer__image-wrapper {
        height: 60vh;
   }

   .explainer-banner {
        width: 50%;
        position: absolute;
        top: 7%;
        left: 25%;
   }

   
   .eara-features__hearing-aid {
        width: 60%;
        margin-inline: auto;
   }

   .image_ic_wrapper {
        width: 7%;
   }
   .hearing-aid-feature p {
        font-size: 1.2em !important;
   }

   .audiologist-consultation {
        padding-inline: 2em;
   }

   .consultation {
        column-gap: .5em;
   }

   .consultation-icon-wrapper {
        width: 50%;
   }
   .consultation p {
        font-size: 1.2em !important;
   }
}


@media only screen and (min-width: 980px) {

    .user-hearing {
        display: flex;
        column-gap: 5em;
        margin-top: 5em;
    }
    .cap__text {
        line-height: 1.9 !important;
    }

    .chart-wrapper {
        width: 60%;
        margin-inline: auto;
        height: 70vh;
    }

    .ad-section-wrapper p {
        text-align: center;
    }
    .banner-ad {
        height: 30vh;
        background-size: contain;
   }

   .eara-explainer__image-wrapper {
        height: 70vh;
        z-index: 1;
   }

   .explainer-banner {
        width: 30%;
        position: absolute;
        top: 7%;
        left: 35%;
    }

   .explainer__img__wrapper{
        left: 15%;
    }
   .explainer__img__wrapper img {
        width: 10%;
    }
    .eara-explainer > :first-child {
        padding-block: 2em;
    }

    .eara-features-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2em;
    }
    .eara-features__hearing-aid {
        width: 50%;
    }
    .audiologist-consultation {
        margin-top: 4em !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center
    }

    .consultation {
        margin-bottom: 2em;
    }

    .consultation-img-wrapper {
        width: 70%;
    }

}